html {
  background: url("https://dl.dropboxusercontent.com/u/61478139/Agastya_Backdrop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar {
  display: inline-block;
  padding-left: 10;
  font-size: 20;
}
.nav {
  background-color: grey;
  opacity: 0.6;
}
