<DOCTYPE! html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="Mainstyles.css">
</head>
<body>
  <div class = "nav" >
    <ul class = "navbar">
      <li class = 'navbar'> Home </li>
      <li class = 'navbar'> Blog </li>
      <li class = 'navbar'> Portfolio </li>
      <li class = 'navbar'> About </li>
    </ul>
  </div>
</body>

</html>
